
<div class="addprod" [ngStyle]="{'height': Height!=0 ? Height+'px' : '40rem'}">
  <div class="collapse collapse-horizontal need" id="collapseWidthExample" >
    <div class="card card-body need" style="width: 25rem; overflow-x: hidden;">
      <div class="header" style="height:5rem; width:100%">
        <h3>Create Product</h3>
      </div>

      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="log-form" [formGroup]="ProductForm">


        <label for="username">Product Name</label>
        <input type="hidden" id="id" formControlName="id">
        <input type="text" placeholder="Product Name" id="username" formControlName="name">

        <label for="category">Category</label>
        <input type="text" placeholder="Category" id="category" formControlName="category">

        <label for="cost">Amount</label>
        <input type="text" placeholder="cost" id="cost" formControlName="cost">

        <label for="description">Description</label>
        <textarea type="text" placeholder="description" id="description" formControlName="description"></textarea>



        <div class="social" (click)="onSubmit()">
          <div> Create </div>
        </div>
    </form>

    </div>
  </div>
</div>


<div class="blob-effect" id="openedit" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
aria-expanded="false" aria-controls="collapseWidthExample" (click)="addproducts()">
  <span></span>
  <span></span>
  <span></span>
  {{nav_text}}
  </div>


  <div class="row">



<ng-container *ngFor="let cd of dataarray; let i = index">
  <div class="card-container col-3">
    <div class="card">
      <a (click)="editCard(cd)">
        <div class="close" (click)="closecard(cd)">
          <i class="fa fa-times close-icon"></i>
        </div>
        
        <div class="card--display"><i class="material-icons">{{cd.category}}</i>
          <h3>{{cd.name}}</h3>
        </div>

        <div class="card--hover">
          <h3 style="color: #1cffd9; margin-bottom: 1rem; text-decoration: underline;">{{cd.name}}</h3>
          <p>{{cd.description}}</p>
          <p class="link">{{cd.cost | currency}}</p>
          
        </div>
      
        <p class="text">*Click to edit this Card</p>
      </a>
      <div class="card--border"></div>
    </div>
  </div>

</ng-container>

</div>